/* Exercise 1 Style */
/* Box */
.box {
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 25px;
    display: inline-block;
}

.block {
    width: 500px;
}

.solid-border {
    border: 2px solid #000;
}

.dual-line-border {
    border: 5px double #000;
}

.dashed-border {
    border: 2px dashed #000;
}

.dotted-border {
    border: 2px dotted #000;
}

.border-none {
    border: none;
}

/* Exercise 2 Style */
 .margin-div {
    width: 400px;
    background-color: rgb(134, 68, 21);
    box-sizing: content-box;
    display: inline-block;
    padding: 10px;
}


.content-div {
    border: 10px solid red;
    padding: 20px;
    background-color: limegreen;
    text-align: center;
    box-sizing: content-box;
    
} 

/* Exercise 3 Style */
.border-margin-div {
    width: 400px;
    background-color: rgb(134, 68, 21);
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
}


.border-content-div {
    border: 10px solid red;
    padding: 20px;
    background-color: limegreen;
    text-align: center;
    box-sizing: border-box;
}