body {
	background: yellow;
}

h1 {
	color: red;
}

@media only screen and (max-width: 500px) {
	body {
		background: url('./large-background.jpg') no-repeat center center fixed;
		background-size: cover;
	}
}
